<body>
<div class="row">

  <h1>
    Customer List
  </h1>

</div>
<div class="row d-flex" style="padding-left: 30px; padding-right: 30px">
  <div style="width: 50%; float: left">
    <input type="hidden" name="action" value="add">
    <button routerLink="/customer/create" class="btn" type="submit" id="add"> Add customer</button>
  </div>
  <div style="width:50%; margin-right: 0" role="search">
    <div class="row px-0 mx-0">
      <div class="col-3" style="margin-left: -4px">
        <input class="form-control me-2" type="text" placeholder="Nhập tên.." aria-label="Search"
               [(ngModel)]="customerNameSearch">
      </div>
      <div class="col-3">
        <input class="form-control me-2" type="text" placeholder="Nhập địa chỉ.." aria-label="Search"
               [(ngModel)]="customerAddressSearch">

      </div>
      <div class="col-3">
        <input class="form-control me-2" type="text" placeholder="Nhập SĐT.." aria-label="Search"  [(ngModel)]="customerPhoneSearch">

      </div>
      <div class="col-3 px-0" style="right: 0">
        <button class="btn" id="submit" (click)="searchByMore()">Search</button>
      </div>
    </div>

  </div>
</div>
<div class="main" style="width: 100vw">
  <table id="list" class="table w-100">
    <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>ID card</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Customer Type</th>
      <th>Address</th>
      <th> Edit</th>
      <th> Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customerListPaging; index as i">
      <td class="text-center">{{i + 1 + (curPage - 1) * 5 }}</td>
      <td>{{item.customerName | titlecase}}</td>
      <td class="text-center">{{item.customerBirthday | date: "dd/MM/yyyy"}}</td>
      <td>
        <span *ngIf="item.customerGender == 0">Nam</span>
        <span *ngIf="item.customerGender == 1">Nữ</span>
        <span *ngIf="item.customerGender == 2">LGBT</span>
      </td>
      <td>{{item.customerIdCard}}</td>
      <td>{{item.customerPhone}}</td>
      <td>{{item.customerEmail}}</td>
      <td>{{item.customerType.customerTypeName}}</td>
      <td>{{item.customerAddress}}</td>
      <td class="text-center">
        <a routerLink="/customer/edit/{{item.id}}">
          <button class="btn btn-success btn-outline-secondary btn-sm">
            <span class="fa-solid fa-user-pen text-light h6 m-auto px-2"></span>
          </button>
        </a>
      </td>

      <td class="text-center">
        <button data-bs-toggle="modal" data-bs-target="#deleteCustomer"
                class="btn btn-danger btn-outline-secondary btn-sm"
                (click)="getInfoCustomerDelete(item.customerName, item.id)">
          <span class="fa-solid fa-person-circle-minus text-light h6 m-auto px-2"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div style="padding-left: 30px">
  <nav aria-label="..." class="justify-content-center d-flex">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previos()" *ngIf="curPage > 1">&laquo; Trang trước</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage <= 1">
        <a class="page-link">&laquo;</a>
      </li>

      <li class="page-item"><a class="page-link disabled" href=""
                               [text]="curPage + ' / ' + totalPage" *ngIf="curPage <= totalPage"></a>
      </li>

      <li class="page-item">
        <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage >= totalPage">
        <a class="page-link">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>

<!--delete modal-->
<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalCSS">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <span class="h6">Khách hàng:</span><strong class="text-danger ps-2">{{customerNameDelete}}</strong>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCustomer()">Xóa</button>
      </div>
    </div>
  </div>
</div>
<!---->


</body>
