<footer>
  <div class="container-fluid px-0 mx-0">
    <div class="row mx-0 px-0 text-light">
      <div class="col-3" style="margin-left: 230px">
        <p style="text-align: justify; text-justify: distribute-all-lines">
          FuramaDanang
          @2022
        </p>

      </div>
      <div class="col-3" style="margin-left: 30px">
        <p style="text-align: justify; text-justify: distribute-all-lines">
        <ul>
          <li>
            Address: 103 - 105 Vo Nguyen Giap Street,<br>
            Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam<br>
          </li>
          <li>
            Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU
          </li>
        </ul>


      </div>
      <div class="col-3" style="margin-left: 100px">
        <p style="text-align: justify; text-justify: distribute-all-lines">
        <ul>
          <li>
            Tel.: 84-236-3847 333/888
          </li>
          <li>
            Fax: 84-236-3847 666
          </li>
          <li>
            Email:reservation@furamavietnam.com
          </li>
          <li>
            Website: www.furamavietnam.com GDS
          </li>
        </ul>


      </div>

    </div>
  </div>
</footer>

