<!--
<app-navbar></app-navbar>
<app-article></app-article>
<app-footer></app-footer>-->
<!--<app-progress-bar progress="70"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-login></app-login>-->
<app-register></app-register>
<!--<a routerLink="/product/list"> Danh sách sản phẩm</a>|<a routerLink="/product/create"> Tạo mới sản phẩm</a>
<a routerLink="/category/list"> Danh sách loại sản phẩm</a>
<router-outlet></router-outlet>-->
<!--<app-dictionary></app-dictionary>
<router-outlet></router-outlet>-->
<!--<router-outlet></router-outlet>-->
<!--<app-todo></app-todo>-->

