<body>
<div class="container-fluid px-0">
  <div>
    <div class="row">
      <div class="col-12">

        <a href="#"><img id="logo" src="/img/FURAMA.png" height="150px" width="100px"/></a>
        <h2 id="login-name">Nguyen Van A</h2>

      </div>
    </div>
  </div>
</div>
<footer class="footer mt-auto d-flex flex-wrap justify-content-between align-items-center">
  <p class="footer">&copy; 2021 Company, Inc</p>
  <a href="/"
     class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"/>
    </svg>
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="footer"><a href="#" class="footer">Home</a></li>
    <li class=" footer"><a href="#" class="footer">Features</a></li>
    <li class=" footer"><a href="#" class="footer">Pricing</a></li>
    <li class="footer"><a href="#" class="footer">FAQs</a></li>
    <li class="footer"><a href="#" class="footer">About</a></li>
  </ul>
</footer>

</body>
